.favorite {
  cursor: pointer;
  float: left;
}

.delete {
  cursor: pointer;
  color: red;
  float: right;
}

.urlName {
  padding-left: 8px;
}

.gold {
  color: gold;
}

.heading {
  line-height: 14px;
}